 $bg-color-blue: #8ECBF3;
 $login-color-blue: #136295;
 $link-color-white: #fff;
 $color-rose: #FF8373;
 $color-grey: #E5E7E9;
 $button-color-blue:#39A1E6;
 $button-font-size: 0.9em;
 $font-bold: 600;
 $offset-7: 7%;
 $offset-4: 4%;
 $offset-2: 2%;
 $offset-1: 1%;
 $block-nav-width: 300px;
 $font-size-all: 1.5em;
 $input-width: 100%;
 $input-height: 40px;
 $input-font-size: 0.8em;
 $form-column-width: 48%;
 $form-bg-shadow: #FF4D0F;