@import '_variables';

@mixin flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

@mixin form-flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

@mixin link{
    text-decoration: none;
}

@mixin button{
    background: $button-color-blue;
    color:#fff;
    border:none;
    cursor: pointer;
    font-size: $button-font-size;
}

@mixin input-date{
    background-color: $color-grey;
    border: none;
    padding: 8px;
    font-size: 22px;
    margin-top: $offset-1;
    outline: none;
}

@mixin calendar-picker{
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #ECF0F1; 
    font-size: $font-size-all;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 85vw;
    max-width: 1250px;
    margin: 0 auto 0 auto;
}

/*-----------------------top---------------------------------------*/
.top{
    @include flex;
    background-color: $bg-color-blue;
    height: 10vh;
    min-height: 100px;

    &__wrapper{
        @include flex;
        justify-content: space-between;
    }

    &__img{
        display: block;
    }

    &__logo{
        @include flex;
    }

    &__h2{
        color: $login-color-blue;
    }

    &__p-white, &__p-blue{
        text-align: center;
    }

    &__p-white{
        color: $link-color-white;
    }

    &__p-blue{
        color: $login-color-blue;
        font-weight: $font-bold;
        padding-top: $offset-7;
    }

    &__a-exit{
        @include link;
        color: $link-color-white;
    }
     
    &__exit{
        text-align: center;
        padding-top: $offset-4;
    }
}

@media (min-width:320px) and (max-width:767px){
    .top{
        &__wrapper{
            justify-content: center;
        }
         &__logo{
            display:none;
        }
    }
}

/*------------------main-------------------------*/
.main{
    height: 89vh;
}

/*-----------------------main menu (dispatchers)------------------*/
.menu__wrapper{
    @include flex;
    justify-content: center;
}

  .menu {
    width: 20rem;
    border-radius: 0.2rem;
    overflow: hidden;
    margin-top: $offset-7;
    
    &__a, &__btn{
        @include link;
      }
      
      &__item {
        list-style: none;
        border-top: 1px solid #fff;
        overflow: hidden;
      }
      
      &__btn {
        display: block;
        padding: 1rem 1.2rem;
        background: $bg-color-blue;
        position: relative;
      }
      
      &__btn::before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: $bg-color-blue;
        left: 1.5rem;
        bottom: -0.5rem;
        transform: rotate(45deg);
      }
      
      &__btn i {
        margin-right: 1rem;
      }
      
      &__item_sub {
        background: #D6EAF8;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
      }
      
      &__item_sub a {
        display: block;
        padding: 1rem 1.6rem;
        color: $login-color-blue;
        position: relative;
        border-bottom: 1px solid $bg-color-blue;
      }
      
      &__item_sub a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0.4rem;
        height: 100%;
        background: $login-color-blue;
        transform: translatex(-0.4rem);
        transition: 0.3s;
        opacity: 0;
      }
      
      &__item_sub a:hover::before {
        opacity: 1;
        transform: translatex(0);
      }
      
      &__item:target &__item_sub {
        max-height: 10em;
      }

  }
  
/*---------------top-resize-----------------------*/

.top-resize{
    @include flex;
    justify-content: flex-end;
    height: 5vh;
    min-height: 45px;
    background-color: $bg-color-blue;
    padding-right: $offset-1;

    &__icon-close{
        display: block;
    }
}


/*----------------main-risize------------------*/
.main-resize{
    height: 95vh;
}

/*---------------------form (tapwaterticket)------------------------*/
.form__wrapper{
    padding-top: 2%;
}

.form{
    @include form-flex;
    background-color: $link-color-white;
    justify-content: center;
    width: 100%;
    box-shadow: -15px 15px 0 0 $form-bg-shadow;

    &__column-left{
        width: $form-column-width;
    }

    &__h2{
        color: $login-color-blue;
        font-weight: 600;
        padding-top: $offset-2;
        font-size: $font-size-all + 0.1;
    }

    &__p{
        @include flex;
        padding-top: $offset-4;
        padding-bottom: 1%;
    }

    &__p-note{
        @include flex;
        font-size: $font-size-all - 0.8;
        padding-top: $offset-2;
        color:$color-rose;
    }

    &__time{
        @include flex;
    }

    &__input-date{
        @include input-date;
    }

    &__input-date::-webkit-calendar-picker-indicator{
       @include calendar-picker;
    }

    &__input-time{
        @include input-date;
        width: 200px;
        height: 52px;
    }

    &__input-time::-webkit-calendar-picker-indicator{
        @include calendar-picker;
    }

    &__select-event{
        width: $input-width;
        height: $input-height;
        font-size: $input-font-size;
        padding-left: $offset-1;
        margin-bottom: $offset-1;
    }

     &__input-phone, &__input-address, &__input-area{
        font-size: $input-font-size;
    }

    &__textarea{
        font-size: $input-font-size;
        width: $input-width;
        display: block;
        resize: vertical;
    }

    &__input-phone{
        width: $input-width;
        height: $input-height;
        margin-bottom: $offset-2;
    }

    &__column-right{
        width: $form-column-width; 
    }

    &__input-address, &__input-area{
        width: $input-width;
        height: $input-height;
        padding-left: $offset-1;
        margin-bottom: $offset-1;
    }

    &__map{
        display: none;
        border: 1px solid #000;
        width: $input-width;
        height: $input-height *8;
        margin-bottom: $offset-1;
    }

    #coords{ 
        display: none;
        margin-bottom: $offset-1;
    }

    &__button-wrapper{
        @include flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    &__button{
        @include button;
        width: 100%;
        height: $input-height;
        margin-bottom: $offset-2;
    } 

    &__button:hover{
        background-color: $form-bg-shadow;
        cursor: pointer;
    }
    
    &__input-upload{
        width: $input-width;
    }

    &__input-upload::file-selector-button{
        margin-right: 20px;
        border: none;
        background: $button-color-blue;
        padding: 10px 20px;
        color:#FFF;
        cursor: pointer;
        transition: background .2s ease-in-out;
    }
     
    &__input-upload::file-selector-button:hover{
        background: $form-bg-shadow;
    }


    &__label:nth-child(-n + 3) {
        font-size: $input-font-size;
    }

    &__label-upload{
        color: $color-rose;
        cursor: pointer;
    }

    &__a-red{
        @include link;
        color: $color-rose;
    }

    &__icon-close{
        display: block;
        position: relative;
        left: 95%;
        cursor: pointer;
    }

    &__popup{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 

    &__div-popup{
        width: 30vw;
        min-width: 300px;
        min-height: 270px;
        text-align: center;
        padding: 15px;
        margin: auto;
        background-color: $button-color-blue;
        color: #fff;
        position: relative;
        top: 20%;
    }

    &__h3-popup{
        @include flex;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        font-size: $font-size-all - 0.1;
    }

    &__ul-popup{
        text-decoration: none;
        text-align: left;
        padding: 15px;
    }

    &__li-popup::before {
        content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
        padding-right: 5px; /* Расстояние от маркеров до текста */
        color: $form-bg-shadow;  
    }

    &__a-popup{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__icon-close-popup{
        display: block;
        position: relative;
        top: -15px;
        left: 95%;
        cursor: pointer;
    }

}

@media (min-width:768px) and (max-width:1000px){
    .form{
        font-size: $font-size-all - 0.6;

        &__icon-close{
            left: 85%;
        }
    }
}


@media (min-width:320px) and (max-width:767px){
    .form{
        &__column-left, &__column-right{
            width: 90%;
        }

        &__select-event{
            font-size: $input-font-size - 0.1;
        }

        &__icon-close{
            display: none;
        }

        &__h2{
            color: $login-color-blue;
            font-weight: 600;
            padding-top: $offset-2;
            font-size: $font-size-all - 0.4;
        }

        &__h3-popup{
            @include flex;
            justify-content: center;
            color: #fff;
            font-weight: 600;
            padding-top: $offset-2;
            font-size: $font-size-all - 0.4;
        }

        &__textarea{
            font-size: $input-font-size;
        }
    }
}


.innermessage{
        margin-top: 30%;

    &__div{
       @include flex;
       justify-content: center;
       width: 100%; 
       background-color: $button-color-blue;
       padding: 35px;
    }

    &__h2{
        color: $login-color-blue;
        font-weight: 600;
        font-size: $font-size-all;
        color: #fff;
    }
    
    &__a{
        color:$login-color-blue;
    }

    &__icon-close{
        display: block;
        position: relative;
        top: 23px;
        left: 95%;
        cursor: pointer;
    }
}

@media (min-width:320px) and (max-width:767px){
    .innermessage{
        &__h2{
             font-size: $font-size-all - 0.4;
        }

        &__icon-close{
            left: 89%;
        }
    }
}
