* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ECF0F1;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 85vw;
  max-width: 1250px;
  margin: 0 auto 0 auto;
}

/*-----------------------top---------------------------------------*/
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: #8ECBF3;
  height: 10vh;
  min-height: 100px;
}
.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__img {
  display: block;
}
.top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.top__h2 {
  color: #136295;
}
.top__p-white, .top__p-blue {
  text-align: center;
}
.top__p-white {
  color: #fff;
}
.top__p-blue {
  color: #136295;
  font-weight: 600;
  padding-top: 7%;
}
.top__a-exit {
  text-decoration: none;
  color: #fff;
}
.top__exit {
  text-align: center;
  padding-top: 4%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .top__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__logo {
    display: none;
  }
}
/*------------------main-------------------------*/
.main {
  height: 89vh;
}

/*-----------------------main menu (dispatchers)------------------*/
.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  width: 20rem;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-top: 7%;
}
.menu__a, .menu__btn {
  text-decoration: none;
}
.menu__item {
  list-style: none;
  border-top: 1px solid #fff;
  overflow: hidden;
}
.menu__btn {
  display: block;
  padding: 1rem 1.2rem;
  background: #8ECBF3;
  position: relative;
}
.menu__btn::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #8ECBF3;
  left: 1.5rem;
  bottom: -0.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__btn i {
  margin-right: 1rem;
}
.menu__item_sub {
  background: #D6EAF8;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  max-height: 0;
}
.menu__item_sub a {
  display: block;
  padding: 1rem 1.6rem;
  color: #136295;
  position: relative;
  border-bottom: 1px solid #8ECBF3;
}
.menu__item_sub a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background: #136295;
  -webkit-transform: translatex(-0.4rem);
      -ms-transform: translatex(-0.4rem);
          transform: translatex(-0.4rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.menu__item_sub a:hover::before {
  opacity: 1;
  -webkit-transform: translatex(0);
      -ms-transform: translatex(0);
          transform: translatex(0);
}
.menu__item:target .menu__item_sub {
  max-height: 10em;
}

/*---------------top-resize-----------------------*/
.top-resize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 5vh;
  min-height: 45px;
  background-color: #8ECBF3;
  padding-right: 1%;
}
.top-resize__icon-close {
  display: block;
}

/*----------------main-risize------------------*/
.main-resize {
  height: 95vh;
}

/*---------------------form (tapwaterticket)------------------------*/
.form__wrapper {
  padding-top: 2%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: -15px 15px 0 0 #FF4D0F;
          box-shadow: -15px 15px 0 0 #FF4D0F;
}
.form__column-left {
  width: 48%;
}
.form__h2 {
  color: #136295;
  font-weight: 600;
  padding-top: 2%;
  font-size: 1.6em;
}
.form__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 4%;
  padding-bottom: 1%;
}
.form__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.form__input-date {
  background-color: #E5E7E9;
  border: none;
  padding: 8px;
  font-size: 22px;
  margin-top: 1%;
  outline: none;
}
.form__input-date::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.form__input-time {
  background-color: #E5E7E9;
  border: none;
  padding: 8px;
  font-size: 22px;
  margin-top: 1%;
  outline: none;
  width: 200px;
  height: 52px;
}
.form__input-time::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.form__select-event {
  width: 100%;
  height: 40px;
  font-size: 0.8em;
  padding-left: 1%;
  margin-bottom: 1%;
}
.form__input-phone, .form__input-address {
  font-size: 0.8em;
}
.form__textarea {
  font-size: 0.8em;
  width: 100%;
  display: block;
  resize: vertical;
}
.form__input-phone {
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
}
.form__column-right {
  width: 48%;
}
.form__input-address {
  width: 100%;
  height: 40px;
  padding-left: 1%;
  margin-bottom: 1%;
}
.form__map {
  display: none;
  border: 1px solid #000;
  width: 100%;
  height: 320px;
  margin-bottom: 1%;
}
.form #coords {
  display: none;
  margin-bottom: 1%;
}
.form__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.form__button {
  background: #39A1E6;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
}
.form__button:hover {
  background-color: #FF4D0F;
}
.form__input-upload {
  width: 100%;
}
.form__input-upload::-webkit-file-upload-button {
  margin-right: 20px;
  border: none;
  background: #39A1E6;
  padding: 10px 20px;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.form__input-upload::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #39A1E6;
  padding: 10px 20px;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.form__input-upload::-webkit-file-upload-button:hover {
  background: #FF4D0F;
}
.form__input-upload::file-selector-button:hover {
  background: #FF4D0F;
}
.form__label:nth-child(-n+3) {
  font-size: 0.8em;
}
.form__label-upload {
  color: #FF8373;
  cursor: pointer;
}
.form__a-red {
  text-decoration: none;
  color: #FF8373;
}
.form__icon-close {
  display: block;
  position: relative;
  left: 95%;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .form {
    font-size: 0.9em;
  }
  .form__icon-close {
    left: 85%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .form__column-left, .form__column-right {
    width: 90%;
  }
  .form__select-event {
    font-size: 0.7em;
  }
  .form__icon-close {
    display: none;
  }
  .form__h2 {
    color: #136295;
    font-weight: 600;
    padding-top: 2%;
    font-size: 1.1em;
  }
}