* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ECF0F1;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 85vw;
  max-width: 1250px;
  margin: 0 auto 0 auto;
}

/*-----------------------top---------------------------------------*/
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: #8ECBF3;
  height: 10vh;
  min-height: 100px;
}
.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__img {
  display: block;
}
.top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.top__h2 {
  color: #136295;
}
.top__p-white, .top__p-blue {
  text-align: center;
}
.top__p-white {
  color: #fff;
}
.top__p-blue {
  color: #136295;
  font-weight: 600;
  padding-top: 7%;
}
.top__a-exit {
  text-decoration: none;
  color: #fff;
}
.top__exit {
  text-align: center;
  padding-top: 4%;
}

/*---------------top-resize-----------------------*/
.top-resize {
  height: 5vh;
  background-color: #8ECBF3;
}

/*-----------------------main menu (dispatchers)------------------*/
.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  width: 20rem;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-top: 7%;
}
.menu__a, .menu__btn {
  text-decoration: none;
  color: #fff;
}
.menu__item {
  list-style: none;
  border-top: 1px solid #fff;
  overflow: hidden;
}
.menu__btn {
  display: block;
  padding: 1rem 1.2rem;
  background: #8ECBF3;
  position: relative;
}
.menu__btn::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #8ECBF3;
  left: 1.5rem;
  bottom: -0.5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__btn i {
  margin-right: 1rem;
}
.menu__item_sub {
  background: #D6EAF8;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  max-height: 0;
}
.menu__item_sub a {
  display: block;
  padding: 1rem 1.6rem;
  color: #136295;
  position: relative;
  border-bottom: 1px solid #8ECBF3;
}
.menu__item_sub a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background: #136295;
  -webkit-transform: translatex(-0.4rem);
      -ms-transform: translatex(-0.4rem);
          transform: translatex(-0.4rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.menu__item_sub a:hover::before {
  opacity: 1;
  -webkit-transform: translatex(0);
      -ms-transform: translatex(0);
          transform: translatex(0);
}
.menu__item:target .menu__item_sub {
  max-height: 10em;
}

/*------------------main-------------------------*/
.main {
  height: 89vh;
}

/*----------------main-risize------------------*/
.main-resize {
  height: 95vh;
}